name: Run R Scripts

on:
  push:
    branches:
      - main
      - framework-files

jobs:
  run-r:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2

      - name: Install dependencies
        run: Rscript -e 'install.packages(c("ggplot2"), repos="https://cloud.r-project.org")'

      - name: Run plot-test.R
        run: Rscript plot-test.R

      - name: Run summary-test.R
        run: Rscript summary-test.R

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: |
            plot.png
            summary.csv